* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: teal;
}

img {
    display: block;
    margin: auto;
}

.icon {
    width: 75px;
    height: 75px;
    padding: 30px 0 0 0;
}

.iconDescription {
    font-family: "MS Sans Serif", "Segoe UI", sans-serif;
    font-size: 11px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.icon[data-option="myComputer"] {
    background-color: black;
}